In [39]:
import pandas as pd
from pytrends.request import TrendReq

class GoogleTrends:
    def __init__(self):
        self._collection = list()

        # initiates Google connection
        self.pytrends = TrendReq(hl='en-US', tz=360)

    def get_response(self, keywords: list,
                     collect: bool=True,
                     **kwargs):
        """Default keyword arguments are used, unless chosen my user.
        Search must have at least one keyword and can have up to 5
        parameters: timeframe, geo, cat, tz, gprop"""
        if not keywords:
            return None

        # timeframe syntax
        self.pytrends.build_payload(kw_list=keywords,
                                    **kwargs)
        response = self.pytrends.interest_over_time()
        response = response.reset_index()

        if collect:
            self._collection.append(response)

        return response

In [35]:
keyword = ['jobs']

In [36]:
api = TrendReq(hl='en-US', tz=360)

In [37]:
api.build_payload(keyword)

In [38]:
api.interest_over_time()

            jobs isPartial
date
2013-08-25    93     False
2013-09-01    96     False
2013-09-08    96     False
2013-09-15    96     False
2013-09-22    92     False
2013-09-29    92     False
2013-10-06    91     False
2013-10-13    87     False
2013-10-20    89     False
2013-10-27    84     False
2013-11-03    89     False
2013-11-10    90     False
2013-11-17    86     False
2013-11-24    74     False
2013-12-01    83     False
2013-12-08    76     False
2013-12-15    71     False
2013-12-22    60     False
2013-12-29    81     False
2014-01-05   100     False
2014-01-12    97     False
2014-01-19    96     False
2014-01-26    96     False
2014-02-02    93     False
2014-02-09    88     False
2014-02-16    93     False
2014-02-23    93     False
2014-03-02    92     False
2014-03-09    91     False
2014-03-16    91     False
...          ...       ...
2018-01-28    87     False
2018-02-04    86     False
2018-02-11    81     False
2018-02-18    84     False
2018-02-25    83     False
2018-03-04    83     False
2018-03-11    83     False
2018-03-18    84     False
2018-03-25    81     False
2018-04-01    83     False
2018-04-08    82     False
2018-04-15    80     False
2018-04-22    81     False
2018-04-29    82     False
2018-05-06    80     False
2018-05-13    80     False
2018-05-20    81     False
2018-05-27    83     False
2018-06-03    86     False
2018-06-10    85     False
2018-06-17    83     False
2018-06-24    83     False
2018-07-01    76     False
2018-07-08    85     False
2018-07-15    87     False
2018-07-22    84     False
2018-07-29    89     False
2018-08-05    87     False
2018-08-12    83     False
2018-08-19    87      True

[261 rows x 2 columns]